body{
  font-family:Georgia, Verdana, sans-serif;
  line-height: 150%;
  color:#323232;
  background-color:lightgrey;
}
article {
    /* width: 960px; */
    width: 70ch;
    margin: auto;
    font-size: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

header{
  border-bottom: 2px solid black;
}

#forfatter{
}
#p{
  color: blue !important;
}
h2 {
    font-size: 1.8em;
}

p, blockquote, ul, ol {
    font-size: 1em;
    line-height: 1.5em;
}

img{
  width: 100%;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url("../img/cup-icon.svg"); /* NOTE: ikke funnet */
    line-height: 1.5em;
    padding-left: 1.5em;
}
