body{
  background-color: #e1e1e1;
  color:#232323;
}
header{
  font-family: Georgia, Times,sans-serif;
}
p{
  font-family: Arial, Helvetica,sans-serif;
}
img{
  max-width: 150px;
  border:2px brown;
  border-style:double;
}
