body {
  background-color: #e1e1e1;
  color: #323232;
}

header {
  font-family: Georgia, Courier, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 150px;
  border: 2px brown;
  border-style: double;
}